    /* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px; /* Set the fixed height of the footer here */
  background-color: lightgray;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

/*CSS GRID*/

.grid-container2 {
  display: grid;
  grid-template-columns: 1fr 0.2fr 1fr 0.2fr 1fr;
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 10px;
  padding: 10px;
}
.grid-container2 > div {
  font-size: 30px;
  display: grid; /* added */
  align-items: center; /* added */
}
.grid-container2 > div > button {
  color: black;
  background: white;
  font: inherit;
}
.grid2item1 {
  grid-row: 1/1;
  grid-column: 1/1; 
}
.grid2item2 {
  grid-row: 1/1;
  grid-column: 2/2;
}
.grid2item3 {
  grid-row: 1/1;
  grid-column: 3/3;
}
.grid2item4 {
  grid-row: 1/1;
  grid-column: 4/4;
}
.grid2item5 {
  grid-row: 1/1;
  grid-column: 5/5;
}
.grid2item6-progress {
  grid-row: 2/2;
  grid-column: 1/6;
}

/*Progress Bar*/
#progressbar {
    background-color: black;
    border-radius: 13px; /* (height of inner div) / 2 + padding */
    padding: 3px;
}
  
#progressbar > div {
   background-color:#488aff;
   width: 2%; /* Adjust with JavaScript */
   height: 20px;
   border-radius: 10px;
}


/*box-shadow: [inset?] [top] [left] [blur] [size] [color];
 ******************************Button Animations***************************************
 Size can also be negative; see how it's smaller than the element*/
.raise:hover,
.raise:focus {
  transform: translateY(-0.04em);
  background: #3c7fe21a;
  box-shadow: 0 0 11px rgba(33,33,33,.5); 
}