extends layout

block content

  <video width="100%" autoplay="autoplay">
    <source src="https://github.com/ScaleIT-Org/sapp-workflow-app/raw/master/Resources/Store/example%20scenario/scenario.webm">
      Your browser does not support HTML5 video.
  </video>