body {
    margin: 0;            /* Reset default margin */
}
#scaleit-bar-logo {
    height: 30px;
    border-radius: 50%;
}
.sidebar-brand a span {
    display: inline-block;
    overflow: hidden;
    width: 0;
    height: 14px;
    padding-left: 10px;
}
@media (min-width:768px) {
    #sidebar-wrapper {
        width: 70px;
    }
}
.nav {
    padding-bottom: 20px;
}
.sidebar-nav li a {
    color: white;
    font-weight: bold;  
}
.sidebar-nav li {
    text-indent: 5px;
}
li.sidebar-brand {
    text-indent: 20px;
}

/* AOI Machines CSS*/
.status{
    text-align: center;
}

.status-text-ok{
    font-size: 3em;
    font-weight: bold;
    color: limegreen;
}

.status-text-warning{
    font-size: 3em;
    font-weight: bold;
    color: orange;
    //text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}